/* Estilos para o header */
header {
    background-color: #62c4d1;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 220px;
    background-color: rgba(255, 255, 255, 0.7); /* Cor do background com opacidade */
    padding: 10px; /* Espaçamento interno */
    border-radius: 10px; /* Borda arredondada */
}

.user-options {
    position: relative; /* Ajusta o posicionamento */
}

.user-panel {
    display: none;
    position: absolute;
    right: 0;
    top: calc(100% + 10px); /* Ajusta a distância do topo */
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 160px; /* Ajusta a largura do painel */
    z-index: 1000;
}

.user-panel.active {
    display: block; /* Exibe o painel quando ativo */
}

.user-panel a {
    display: block; /* Faz os links ocuparem toda a largura */
    padding: 10px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.user-panel a:hover {
    background-color: #f4f4f4; /* Cor de fundo ao passar o mouse */
}

/* Estilos para a tabela */
.table-responsive {
    overflow-x: auto; /* Torna a tabela responsiva horizontalmente */
    max-width: 100%;
}

.btn-primary {
    margin-top: 15px;
}
