body {
    font-family: 'Poppins', sans-serif;
    background: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #62c4d1;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 220px;
    background-color: rgba(255, 255, 255, 0.7); /* Cor do background com opacidade */
    padding: 10px; /* Espaçamento interno */
    border-radius: 10px; /* Borda arredondada */
}

.login-options {
    text-align: right;
}

.btn-login {
    background: #fff;
    color: #6e8efb;
    border: 2px solid #6e8efb;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.btn-login:hover {
    background: #6e8efb;
    color: #fff;
}

.login-panel {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.login-panel-inner {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-panel-inner h2 {
    margin-bottom: 20px;
}

.login-panel-inner button {
    width: 100%;
    margin-bottom: 10px;
}

.login-panel-inner .btn-link {
    color: #6e8efb;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.option {
    background-color: #62c4d1;
    color: white;
    border: none;
    padding: 2rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin: 1rem;
    cursor: pointer;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.option:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.option i {
    font-size: 3rem;
    margin-bottom: 1rem;
}
/* Estilo para o Carousel */
.carousel-inner img {
    height: 400px;
    object-fit: cover;
}