body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #62c4d1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem 2rem;
}

header .logo {
    display: flex;
    align-items: center;
    text-align: center;
}

header .logo img {
    width: 350px;
    margin-right: 10px;
}

.login-options {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.login-options .btn {
    color: white;
    font-size: 16px;
    border: none;
    background: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-options .btn:hover {
    color: #f0f0f0;
}

.login-panel {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro semitransparente */
    z-index: 1000; /* Garante que o painel de login seja o mais alto */
    text-align: center;
}

.login-panel-inner {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-panel h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-panel button {
    width: 100%;
    margin-top: 10px;
    padding: 10px; /* Adiciona padding nos botões */
}

.login-panel button i {
    margin-right: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.cortana {
    background-color: #e0e0e0;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 2rem;
    width: 80%;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem; /* Adiciona margem superior para separar da seção cortana */
}

.option {
    background-color: #62c4d1;
    color: white;
    border: none;
    padding: 2rem; /* Aumenta o padding para tornar os botões maiores */
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem; /* Ajusta o tamanho da fonte */
    margin: 1rem;
    cursor: pointer;
    border-radius: 10px;
    width: 180px; /* Aumenta a largura dos botões */
    height: 180px; /* Aumenta a altura dos botões */
    transition: background-color 0.3s, transform 0.3s;
}

.option:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.option i {
    font-size: 3rem;
    margin-bottom: 1rem;
}