body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6e8efb, #107533);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.login-box {
    background: #fff;
    padding: 30px; /* Reduzido de 40px para 30px */
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login-box .logo {
    display: block;
    margin-left: 0; /* Ajusta a logo para a esquerda */
    width: 100%;
    max-width: 300px; /* Reduzido de 350px para 300px */
    height: auto;
}

.login-box h2 {
    margin-bottom: 15px; /* Reduzido de 20px para 15px */
    text-align: center;
}

.mb-2 {
    margin-bottom: 10px; /* Reduzido de 3 a 2 para 10px */
}

.form-group .input-group-text {
    background-color: #f7f7f7;
    border: none;
}

.form-control {
    background: #f7f7f7;
    border: none;
    padding: 8px 15px; /* Reduzido de 10px 20px para 8px 15px */
}

.form-control:focus {
    box-shadow: none;
    background: #e2e2e2;
}

.btn-primary {
    background-color: #6e8efb;
    border: none;
}

.btn-primary:hover {
    background-color: #a777e3;
}

.register-link {
    text-align: center;
    margin-top: 15px; /* Reduzido de 20px para 15px */
}

.register-link a {
    color: #6e8efb;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}